<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/shilianchou/guang01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{245,206}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{299,304}</string>
			</dict>
			<key>img/shilianchou/guang02.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,0},{245,206}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{299,304}</string>
			</dict>
			<key>img/shilianchou/jicheng0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,47},{12,12}}</string>
				<key>offset</key>
				<string>{-77,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,126}</string>
			</dict>
			<key>img/shilianchou/jicheng0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,816},{80,65}}</string>
				<key>offset</key>
				<string>{-51,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,126}</string>
			</dict>
			<key>img/shilianchou/jicheng0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,535},{134,72}}</string>
				<key>offset</key>
				<string>{-30,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,126}</string>
			</dict>
			<key>img/shilianchou/jicheng0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,499},{170,66}}</string>
				<key>offset</key>
				<string>{-13,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,126}</string>
			</dict>
			<key>img/shilianchou/jicheng0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,669},{147,56}}</string>
				<key>offset</key>
				<string>{10,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,126}</string>
			</dict>
			<key>img/shilianchou/jicheng0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,453},{169,86}}</string>
				<key>offset</key>
				<string>{2,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,126}</string>
			</dict>
			<key>img/shilianchou/jicheng0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,206},{129,90}}</string>
				<key>offset</key>
				<string>{9,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,126}</string>
			</dict>
			<key>img/shilianchou/jicheng0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,606},{96,91}}</string>
				<key>offset</key>
				<string>{42,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,126}</string>
			</dict>
			<key>img/shilianchou/jicheng0033.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,896},{62,74}}</string>
				<key>offset</key>
				<string>{65,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,126}</string>
			</dict>
			<key>img/shilianchou/jicheng0037.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,314},{44,54}}</string>
				<key>offset</key>
				<string>{73,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,126}</string>
			</dict>
			<key>img/shilianchou/jicheng0041.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,314},{35,41}}</string>
				<key>offset</key>
				<string>{71,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,126}</string>
			</dict>
			<key>img/shilianchou/jicheng0045.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,31},{16,26}}</string>
				<key>offset</key>
				<string>{67,-32}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,126}</string>
			</dict>
			<key>img/shilianchou/jingjieguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,314},{36,37}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,52}</string>
			</dict>
			<key>img/shilianchou/jinjiebai.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,0},{26,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,31}</string>
			</dict>
			<key>img/shilianchou/jinjiebao.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,499},{107,107}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>img/shilianchou/slcguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,314},{57,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,47}</string>
			</dict>
			<key>img/shilianchou/zi0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,182},{110,178}}</string>
				<key>offset</key>
				<string>{-1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,195}</string>
			</dict>
			<key>img/shilianchou/zi0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,896},{105,178}}</string>
				<key>offset</key>
				<string>{-3,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,195}</string>
			</dict>
			<key>img/shilianchou/zi0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,362},{91,168}}</string>
				<key>offset</key>
				<string>{4,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,195}</string>
			</dict>
			<key>img/shilianchou/zi0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,535},{98,165}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,195}</string>
			</dict>
			<key>img/shilianchou/zi0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,206},{97,171}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,195}</string>
			</dict>
			<key>img/shilianchou/zi0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,362},{107,166}}</string>
				<key>offset</key>
				<string>{2,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,195}</string>
			</dict>
			<key>img/shilianchou/zi0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,206},{108,159}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,195}</string>
			</dict>
			<key>img/shilianchou/zi0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,538},{115,161}}</string>
				<key>offset</key>
				<string>{-2,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,195}</string>
			</dict>
			<key>img/shilianchou/zi0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,360},{115,170}}</string>
				<key>offset</key>
				<string>{-2,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,195}</string>
			</dict>
			<key>img/shilianchou/zi0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,530},{114,170}}</string>
				<key>offset</key>
				<string>{-1,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,195}</string>
			</dict>
			<key>img/shilianchou/zi0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,0},{115,182}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,195}</string>
			</dict>
			<key>img/shilianchou/zika0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,361},{196,177}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,187}</string>
			</dict>
			<key>img/shilianchou/zika0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,183},{196,178}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,187}</string>
			</dict>
			<key>img/shilianchou/zika0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,700},{196,177}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,187}</string>
			</dict>
			<key>img/shilianchou/zika0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,0},{196,183}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,187}</string>
			</dict>
			<key>img/shilianchou/zika0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,0},{196,184}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,187}</string>
			</dict>
			<key>img/shilianchou/zika0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,358},{196,177}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,187}</string>
			</dict>
			<key>img/shilianchou/zika0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,184},{196,178}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,187}</string>
			</dict>
			<key>img/shilianchou/zika0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,303},{196,177}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,187}</string>
			</dict>
			<key>img/shilianchou/hdimg_bj.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,896},{58,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shilianchou.png</string>
			<key>realTextureFileName</key>
			<string>shilianchou.png</string>
			<key>size</key>
			<string>{1023,1001}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1001</integer>
		</dict>
	</dict>
</plist>