<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/tanxian/baoxiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,275},{45,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,60}</string>
			</dict>
			<key>img/tanxian/bg_jiugongge8.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,2},{464,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{464,62}</string>
			</dict>
			<key>img/tanxian/btn_jia_y.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,2},{30,29}}</string>
				<key>offset</key>
				<string>{10,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>img/tanxian/huawen_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,174},{34,33}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,36}</string>
			</dict>
			<key>img/tanxian/ico_cjbx.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,68},{105,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,86}</string>
			</dict>
			<key>img/tanxian/ico_gjbx.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,145},{88,71}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,86}</string>
			</dict>
			<key>img/tanxian/ico_zjbx.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,68},{92,84}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,86}</string>
			</dict>
			<key>img/tanxian/img_nvwu.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{518,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{518,238}</string>
			</dict>
			<key>img/tanxian/light_bx.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,233},{51,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,48}</string>
			</dict>
			<key>img/tanxian/tx_ico1.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,156},{75,70}}</string>
				<key>offset</key>
				<string>{5,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,92}</string>
			</dict>
			<key>img/tanxian/tx_ico2.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,156},{85,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,73}</string>
			</dict>
			<key>img/tanxian/tx_ico3.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,220},{74,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,67}</string>
			</dict>
			<key>img/tanxian/tx_ico4.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,158},{72,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,68}</string>
			</dict>
			<key>img/tanxian/tx_img_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,285},{562,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,161}</string>
			</dict>
			<key>img/tanxian/wz_sm.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,287},{225,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,26}</string>
			</dict>
			<key>img/tanxian/ico_jbx.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,226},{52,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,45}</string>
			</dict>
			<key>img/tanxian/ico_tbx.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,280},{46,40}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,45}</string>
			</dict>
			<key>img/tanxian/ico_ybx.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,229},{51,42}}</string>
				<key>offset</key>
				<string>{-4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,50}</string>
			</dict>
			<key>img/tanxian/img_bxdh.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,68},{106,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,102}</string>
			</dict>
			<key>img/tanxian/ico_jbx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,174},{63,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,55}</string>
			</dict>
			<key>img/tanxian/ico_tbx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,229},{52,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,45}</string>
			</dict>
			<key>img/tanxian/ico_ybx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,226},{60,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,50}</string>
			</dict>
			<key>img/tanxian/buff.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,68},{88,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,73}</string>
			</dict>
			<key>img/tanxian/btn_gz.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,68},{80,84}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>tx.png</string>
			<key>realTextureFileName</key>
			<string>tx.png</string>
			<key>size</key>
			<string>{1024,448}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>448</integer>
		</dict>
	</dict>
</plist>